.modulo-ventas {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .escaneo {
    margin-bottom: 20px;
  }
  
  .escaneo input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
  .productos-venta {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
.productos-venta ul {
  list-style-type: none; /* Sin viñetas */
  padding: 0;
  margin: 0;
  font-size: 14px; /* Tamaño de texto más pequeño */
}
  
.productos-venta li {
  display: flex; /* Flex para alineación */
  justify-content: space-between; /* Espacio entre nombre y precio */
  margin-bottom: 5px; /* Espaciado entre productos */
  border-bottom: 1px solid #ddd; /* Línea divisoria */
  padding-bottom: 5px; /* Espaciado interno */
}
  
  .total {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .procesar-venta {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .procesar-venta:hover {
    background-color: #45a049;
  }

  .procesar-venta-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.procesar-venta-container:hover {
    background-color: #c82333; /* Más oscuro al pasar el mouse */
}


.factura-form {
  flex: 1; /* Menor tamaño */
  max-width: 300px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.factura-form h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #333; /* Color del título */
}

.factura-form label {
    font-size: 14px;
    color: #555;
}

.factura-form input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no altere el ancho */
}

.factura-form input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.5); /* Resaltar el campo activo */
}
.procesar-venta-container button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.procesar-venta-container button:hover {
  background-color: #c82333;
}